@model IEnumerable<WebApplication1.Models.UserTestMapping>
@{
    var fetchDate = (TestDetails)ViewBag.details;
}
@{
    ViewData["Title"] = "TestAthleteDetails";
}

<h2 class="heading" style="text-align: center; padding-bottom: 2em; padding-top:1em"> @ViewBag.Name  D. @ViewBag.Date </h2>
<hr />
@if (@ViewBag.Name == "100m Sprint Test")
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center">
                        Ranking
                    </th>
                    <th style="text-align:center">
                        Time Taken (sec)
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(s => s.CTDistance))
                {
                    <tr style="text-align:center">
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Users.ID" style="display:block"> @Html.DisplayFor(modelItem => item.Users.Name)</a>
</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.STTime" style="display:block"> @Html.DisplayFor(modelItem => item.STTime)</a>
</td>

                    </tr>
                }
            </tbody>
        </table>
        <p class="note" style="display:flex; justify-content:center"> ( Click on player to change data )</p>
    </div>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center">
                        Ranking
                    </th>
                    <th style="text-align:center">
                        Distance (meter)
                    </th>
                    <th style="text-align:center">
                        Fitness Rating
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(s => s.CTDistance))
                {
                <tr style="text-align:center">
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Users.ID" style="display:block">  @Html.DisplayFor(modelItem => item.Users.Name)</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CTDistance" style="display:block"> @Html.DisplayFor(modelItem => item.CTDistance)</a>
</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FitnessRating" style="display:block">@Html.DisplayFor(modelItem => item.FitnessRating)</a>
</td>
                </tr>
                }
            </tbody>
        </table>
        <p class="note" style="display:flex; justify-content:center"> ( Click on player to change data )</p>
    </div>
}


<div class="button1" style="display:flex; justify-content:center">
    <a asp-action="AddAthlete" class="btn btn-default" style="border-radius:12px; width:50%; padding-top:.45em; padding-bottom:.45em"> ADD NEW ATHLETE TO TEST </a>
</div>
<br />
<div class="button2" style="display:flex; justify-content:center">
    <a asp-action="Delete" class="btn btn-default" style="border-radius:12px; width:45%; padding-top:.45em; padding-bottom:.45em"> DELETE TEST </a>
</div>
